@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
a {
  text-decoration: inherit;
}
a:hover {
  color: #6d72cb;
}

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e3e3e3;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --bg: #e3e3e3;
  --text: #595b64;
  --btn-color: #242424;
  --card-bg: #fff;
  --bg-input: #f7f7f7;
  --shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 3px 0px;
  --text-grad: linear-gradient(159deg, #b8b8b8 0%, #6a7891 81.65%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-mode {
  --bg: #101113;
  --text: #fff;
  --btn-color: #444cf7;
  --card-bg: #1b1e23;
  --bg-input: #2d2d2d;
  --shadow: rgba(0, 0, 0, 0.1) 1px 5px 7px 1px,
    rgba(0, 0, 0, 0.06) 1px 6px 7px 1px;
  --text-grad: linear-gradient(159deg, #6c7783 0%, #9191ac 81.65%);
}

/* reusables */

.text {
  color: var(--text);
}

.bgcolor {
  background-color: var(--bg);
}

.bgcard {
  background-color: var(--card-bg);
}

.btncolor {
  background-color: var(--btn-color);
  transition: all 0.3s ease;
}

.blob {
  color: var(--btn-color);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dec {
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bginput {
  background-color: var(--bg-input);
}

.dec:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.07em;
  border-width: 0.06em;
  border-style: solid;
  border-color: currentColor;
  position: absolute;
  border-right-color: transparent;
  width: 120%;
  height: 90%;
  transform: rotate(2deg);
  opacity: 0.4;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.dec:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 5px;
  border-style: solid;
  border-color: currentColor;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 120%;
  height: 100%;
  transform: rotate(-1deg);
  opacity: 0.4;
  border-radius: 50%;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 3px 0px;
}
.shadowin {
  box-shadow: var(--shadow);
}

.gradtext {
  background: var(--text-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-up {
  opacity: 0;
  animation: slide-up 1500ms forwards, fade-in 500ms forwards;
  animation-fill-mode: forwards;
}

.slide-down {
  opacity: 0;
  animation: slide-down 500ms forwards, fade-in 500ms forwards;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fade-in 500ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
